@media screen and (max-width: 587px) {
    .narrow-hidden { display: none; }  
} 

tr:nth-child(even) {
    background-color: #F8F8F8;
    border-bottom: .5pt solid lightgray;
}
/* tr {    
    border-bottom: 1pt solid black;
} */

input[readonly] {
    background-color: #EBEBE4;
    border-radius: 3px;
    color: #808080;
}

/* .table-row {
    text-align: center; 
    vertical-align: middle;
} */

.table-head {
    background-color: black;
    color: white;
    text-align: center; 
    vertical-align: middle;
}

.time-highlight {
    /* background-color: #f8f9fa; */
    font-weight:bold;
    /* text-align: center;  */
    /* vertical-align: left; */
    max-width: 70px;
}

.td-center {
    text-align: center; 
    vertical-align: middle;
}

.special {
    background-color: #50C878;
    text-align: center; 
    vertical-align: middle;
    color: white;
}

.left-control {
    flex: 1;
    max-width: 350px;
    margin-right: 5px; 
}

/* .left-control-max {
    flex: 1;
    margin-right: 5px; 
} */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    padding:10px;
}

th, td {
text-align: left;
padding: 10px;
}

.fit-text-cell {
    width: 1%;
    white-space: nowrap;
}

.icon-cell {
    padding-left:20px;
    text-align: center; 
    vertical-align: middle; 
    width:1px;
}

.right-cell {
    text-align: center;
    white-space: nowrap;
    /* max-width: 1px; */
    width: 1%;
    /* padding: 4px; */
}

.text-ellipsis {
    padding-left: 0px !important;
    max-width: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion-body {
    padding: .75rem !important;
}

.small-form-width {
    width: 300px;
    /* margin: 0 auto; */
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
}

form p {
    margin-bottom: 10px;
}

form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.no-padding {
    padding-left:0px !important; 
    padding-right:0px !important;
}

.next-line {
    clear: both;
}

.nowrap-container {
    display:flex;
    align-items: center;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-right{
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}

/* .btn-activity-create {    
    margin-bottom:8px;    
} */

.btn-outline-pill {
    float: left;
    background-color: #ddd;
    border: none;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
    border-radius: 16px;
}

.btn-outline-pill-transparent {
    margin-left: -5px;
    float: left;
    background-color: transparent;
    border: none;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
    border-radius: 16px;
}

.btn-outline-pill-right {
    float: right;
    background-color: #ddd;
    border: none;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
    border-radius: 16px;
}

.btn-round-primary {
    float: right;
    border-radius: 50%;  
    width: 38px;
    height: 38px;
    border: 0.1px solid #0d6efd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-round-success {
    float: right;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    /* background-color: none; */
    border: 0.1px solid #198754;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-round-success-color {
    float: right;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: #198754;
    border: 0.1px solid #198754;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-round-black {
    float: right;
    border-radius: 50%;  
    width: 38px;
    height: 38px;
    border: 0px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
    box-shadow: none;
    outline: none;
    background-color: transparent;
    background: none;
    color: #198754;
 }

.accordion-button:not(.collapsed){
    box-shadow: none;
}

/* .my-leaflet-map-container img {
    max-height: none;
} */

#map {
    /* max-width: 600px; */
    height: 400px;
    margin-bottom: 10px;
}

/* #search-container {
    margin: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index:1000;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
} */

/* #place-input {
    width:300px;
    padding: 5px;
} */

#suggestions {
    /* max-height: 200px; */
    overflow-y: auto;
    margin-top: 5px;
}

.suggestion {
    padding: 5px;
    cursor: pointer;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin-bottom: 2px;    
}

.suggestion-hover {
    background-color: #ddd;;
}

.icon-input {
    position: relative;
    margin-right: 5px;
    flex: 1;
}

.icon-input  i{
    position: absolute;
    left: 6px;
    top: 10px;
    color: gray;
} 

#place-input {
    width: 100%;
    margin-right: 5px; 
    /* flex: 1; */
    padding-left: 25px; 
    /* margin: 8px 0;  */
    display: inline-block; 
}

.container-padding {
    margin-left: 5px;
    margin-right: 5px;
}

.slide {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
}

.slide.active {
    max-height: 400px;
}

.accordion-button-sm {
    padding: .5rem .75rem !important;
}

#scroll-up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 25px;
    padding: 5px;
    border: 1px solid #333;
    background: none;
    color: #333;
    text-align: center;
    cursor: pointer;
    display: none;
    z-index:1000;
}

input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
}

input[type="search"] {
    padding-right: 30px; /* Add space for the clear button */
}

button#clear-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Adjust size */
    line-height: 1;
    display: none; /* Hidden by default */
}

input[type="search"]:not(:placeholder-shown) + #clear-btn {
display: block; /* Show button when input has text */
}

.item-image {
    border-radius:10px;
    width:100px; 
    height:100px; 
    object-fit:cover; 
    object-position:center;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s
}
.item-image:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    margin-top:50px;
    z-index: 1000
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
from {transform:scale(0)}
to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
        margin-top: -20px;
    }
    .close {
        top: 10px;
        right: 25px;
    }
}

.icon-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.icon-stack-1x,
.icon-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.icon-stack-1x {
    line-height: inherit;
}
.icon-stack-2x {
    font-size: 1.5em;
}


.leaflet-control-simplebutton {
background: #fff;
border-radius: 5px;
cursor: pointer;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
display: block;
overflow: hidden;
width: 30px;
height: 30px;
padding: 2px;
}

.leaflet-control-simplebutton a {
color: #000;
cursor: pointer;
line-height: 150%;
white-space: nowrap;
text-align: center;
display: block;
width: 100%;
height: 100%;
font-size: 18px;
text-decoration: none;
background: transparent;
opacity: 0.75;
}

.leaflet-control-simplebutton a:hover {
opacity: 1;
text-decoration: none;
}

.leaflet-control-simplebutton a i {
pointer-events: none;
font-size: inherit;
}

/* TOUCH */

.leaflet-touch .leaflet-control-simplebutton {
width: 35px;
height: 35px
}

.leaflet-touch .leaflet-control-simplebutton a {
font-size: 22px;
}