form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

form p {
    margin-bottom: 10px;
}

form label {
    display: block;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

form button[type="submit"] {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin-top: .5rem;
}

input[type="submit"] {
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
    margin-top: .5rem !important
}