{% extends "master.html" %}
{% load filters %}
{% load static %}
{% load leaflet_tags %}

{% block title %}
    Itinerary
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css"> 
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/monim67/django-flatpickr@2.0.0/src/django_flatpickr/static/django_flatpickr/js/django-flatpickr.js"></script>
    {% leaflet_js %}
    {% leaflet_css %}
    {% comment %} <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script> {% endcomment %}

    <div class="container-padding">
        <form id="form_update_itinerary" method="post" style="margin-bottom:10px;margin-top:10px;">
            {% csrf_token %}
            <input id="id_user_survey" name="user_survey" value="{{ user_survey_id }}" hidden>
            <div class="nowrap-container">
                {{ form_update_itinerary.name }}
                <div class="buttons-right">
                    <button class="btn-activity-create btn-round-black" type="button" id="btn_itinerary_edit">
                        <i class="fas fa-pencil" ></i>
                    </button>
                    <button class="btn-activity-create btn-round-success" type="submit" id="btn_itinerary_save" name="btn_itinerary_save" hidden>
                        <i class="bi bi-pencil" style="color:#198754;"></i>
                    </button>
                    <button id="btn_map" class="btn-round-black" type="button">
                        <i class="fas fa-map-location-dot"></i> 
                    </button>
                    {% comment %} <button class="btn btn-outline-primary btn-activity-create btn-round-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <i class="fas fa-plus"></i> 
                    </button> {% endcomment %}
                </div>
            </div>
        </form>    
    </div>  

    <div id="map"></div>

    <div class="container-padding">
        <div id="search-container">
            <div class="icon-input">
                <input type="text" id="place-input" placeholder="Add a place" />
                <i class="fas fa-magnifying-glass"></i>
            </div>
            <div id="suggestions"></div>
        </div>
    </div>
    {% comment %} <div id="search-container">
        <i class="fas fa-location-dot" style="margin-right:2px;"></i><input type="text" id="place-input" placeholder="Add a place" />
        <div id="suggestions"></div>
    </div> {% endcomment %}

    {% comment %} <a class="mt-3" href="{% url 'add_itinerary_destination' itinerary_id=itinerary_id %}"> Add Destination</a> |
    <a href="{% url 'update_itinerary' pk=itinerary_id %}"> Edit</a> {% endcomment %}
    {% if grouped_dates %}        
        <div class="accordion next-line" id="accordion" style="margin-top:10px;">    
            {% for date, activities in grouped_dates.items %}   
                <div class="accordion-item">                    
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ date|date:"m-d-Y" }}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                            <div>{{ date }} - {{ date|date:"l" }}</div>
                        </button>
                    </h2>
                    <div id="collapse_{{ date|date:"m-d-Y" }}" name="{{ date|date:"m-d-Y" }}" class="accordion-collapse collapse" data-bs-parent="#accordion">
                        <div class="">           
                            
                            <button class="btn btn-outline-primary btn-round-primary btn-activity-create btn-round activity-exising-date mt-2" name="{{ date|date:"m-d-Y" }}" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                <i class="fas fa-plus"></i> 
                            </button>

                            <div class="next-line" style="overflow-x:auto;">
                                <table class="">
                                    <thead class="table-head">
                                        <th>Time</th>
                                        <th></th>
                                        <th class="text-ellipsis">Activity</th>
                                        <th class="narrow-hidden">City</th>
                                        <th class="narrow-hidden td-center">Booked</th>
                                        <th class="narrow-hidden td-center">Paid</th>
                                        <th class="right-cell"></th>
                                    </thead>
                                    <tbody>
                                        {% for i in activities|dictsort:"start_time" %}
                                            {% for key, val in i|get_fields %}
                                                {% comment %} {% if key != 'activity' %}
                                                <input class="activity-update-input-{{i.id}}" name="id_{{ key }}" value="" hidden/>
                                                {% else %} {% endcomment %}
                                                <input class="activity-update-input-{{i.id}}" name="id_{{ key }}" value="{{ val }}" hidden/>
                                                {% comment %} {% endif %} {% endcomment %}
                                            {% endfor %}
                                            <tr>   
                                                <td class="time-highlight fit-text-cell">{{ i.start_time|date:"g:i A" }}</td>
                                                <td class="icon-cell">
                                                    <i class="fas fa-{{ i.activity.icon }}" style="text-shadow: 0px 0px 3px black; color: white;"></i> 
                                                </td>
                                                <td class="text-ellipsis">
                                                    {% comment %} {{ i.place_name }}   {% endcomment %}
                                                    {% comment %} <button class="btn btn-outline-primary btn-activity-update" name="{{i.id}}" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                                        Update
                                                    </button>  {% endcomment %}
                                                    <a class="btn-activity-update" style="color: blue;" name="{{i.id}}" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                                        {{ i.place_name }}  
                                                    </a> 
                                                </td>
                                                <td class="special narrow-hidden right-cell">{{ i.itinerary_destination.city }}</td>
                                                <td class="td-center narrow-hidden right-cell">
                                                    {% if i.booking_required %} 
                                                        {% if i.is_booked %}
                                                            <i class="bi bi-check-circle" style="color:green;"></i> 
                                                        {% else %}
                                                            <i class="bi bi-x-circle-fill" style="color:red;"></i> 
                                                        {% endif %}
                                                    {% else %}
                                                        {% if i.is_booked %}
                                                            <i class="bi bi-check-circle" style="color:green;"></i> 
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td class="td-center narrow-hidden right-cell">
                                                    {% if i.pre_payment_required %} 
                                                        {% if i.is_paid %} 
                                                            <i class="bi bi-check-circle" style="color:green;"></i> 
                                                        {% else %}                                                                
                                                            <i class="bi bi-x-circle-fill" style="color:red;"></i> 
                                                        {% endif %}
                                                    {% else %}
                                                        {% if i.is_paid %} 
                                                            <i class="bi bi-check-circle" style="color:green;"></i> 
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td class="right-cell">
                                                    <i class="fas fa-ellipsis" style="color:gray;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight_Directions" aria-controls="offcanvasRight_Directions"></i> 
                                                </td>
                                            </tr>
                                        {% endfor %}                                            
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>
                </div>    
            {% endfor %}
        </div>            
    {% else %}
    <div class="accordion mt-2">There are no destinations on this itinerary.</div>
    {% endif %}

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Add New Activity</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form method="post" class="small-form-width">
                {% csrf_token %} 
                    <!-- Management data of formset -->
                {% comment %} {{ formset }} {% endcomment %}
                {{ form.media }}
                {{ form.destination }}
                {{ form.as_p }}
                <input id="id_itinerary" name="itinerary" value="{{ itinerary_id }}" hidden>
                <button name="form_submit" class="btn btn-success btn-sm" type="submit">Save</button>
                <button id="id_remove_marker" class="btn btn-danger btn-sm">Remove</button>
            </form>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight_Directions" aria-labelledby="offcanvasRightLabel_Directions">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel_Directions">Open Directions With:</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <button class="open-map btn btn-outline-primary" type="button">
                Google Maps
            </button>
        </div>
    </div>


    {% comment %} <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight_Destination" aria-labelledby="offcanvasRightLabel_Destination">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel_Destination">Add New Destination</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form method="post" class="small-form-width">
                {% csrf_token %}

                <label>Country:</label>

                <div>
                    <label><input type="radio" id="existing" name="country_selection" value="existing" checked /> Existing</label>
                </div>
                <div>
                    <label><input type="radio" id="new" name="country_selection" value="new" /> New</label>
                </div>

                {{ form_destination.media }}
                {{ form_destination.as_p }}
                <input id="id_itinerary" name="itinerary" value="{{ itinerary_id }}" hidden>
                
                <button class="btn btn-success btn-sm" type="submit">Add</button>
                    </form>
                </div>
    </div> {% endcomment %}

    <script>
        var offcanvas = new bootstrap.Offcanvas($('#offcanvasRight'));

        const markerIcon = L.icon({
            iconUrl: "{% static 'leaflet/images/marker-icon.png' %}",
            shadowUrl: "{% static 'leaflet/images/marker-shadow.png' %}",
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        })
        var map = L.map('map');

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(map);              

        var bounds = L.latLngBounds(); 

        var locations = [
            ["London", "SE1 7PB", "England", "United Kingdom", "London Eye", 51.5032, -0.1195],
            ["London", "SE1 7PB", "England", "United Kingdom", "Tower Bridge", 51.5056, -0.0753],
            ["London", "SE1 7PB", "England", "United Kingdom", "Big Ben", 51.5007, -0.1246],
            ["London", "SE1 7PB", "England", "United Kingdom", "Parliament Square Garden", 51.5006, -0.1267],
            ["London", "SE1 7PB", "England", "United Kingdom", "British Museum", 51.5194, -0.1270]
        ];  

        for (var i = 0; i < locations.length; i++) {
            //var location = locations[i];
            var name = locations[i][4].replace(/\s/g, "+");
            var city = locations[i][0].replace(/\s/g, "+");
            var state = locations[i][2].replace(/\s/g, "+");
            var zip = locations[i][1].replace(/\s/g, "+");
            var fullAddress = `${name},+${city},+${state}+${zip}`;

            bounds.extend(L.latLng([locations[i][5], locations[i][6]])); 
            marker = new L.marker([locations[i][5], locations[i][6]], { icon: markerIcon }) //{draggable:'true'}
            .bindPopup(`<b>${locations[i][4]}</b>
                <br>${locations[i][0]}, ${locations[i][2]}
                <br><a href="#">Edit</a> | <a href="https://www.google.com/maps/dir/?api=1&destination=${fullAddress}" target="_blank">Directions</a>
                `)
            .addTo(map);
            //marker.on("dragend", function(e) {
            //    var marker = e.target;
            //    var position = marker.getLatLng();
            //    map.panTo(new L.LatLng(position.lat, position.lng));
            //    console.log(position.lat);
             //   console.log(position.lng);

            //    //TO DO: UPDATE COORDINATES IN DB

            //});
        }

        var center = bounds.getCenter();
        map.setView(center, 10);
        map.fitBounds(bounds);

        let searchMarker; // To store the marker

        // Search and handle results
        $('#place-input').on('input', function () {
        const query = $(this).val();
        if (query.length < 3) {
            $('#suggestions').empty();
            return;
        }

        // Photon API URL
        const url = `https://photon.komoot.io/api/?q=${encodeURIComponent(query)}&limit=5`;

        // AJAX request to Photon API
        $.getJSON(url, function (data) {
            const features = data.features;
            $('#suggestions').empty(); // Clear old suggestions

            if (features.length === 0) {
            $('#suggestions').append('<div>No results found</div>');
            return;
            }
            
            featuresAdded = [];

            features.forEach(function (feature) {
                var name = feature.properties.name || 'Unnamed location';
                //var street = feature.address.street || '';
                var city = feature.properties.city || '';
                var state = feature.properties.state || '';
                var postcode = feature.properties.postcode || '';
                var country = feature.properties.country || '';
                if (city.trim() != "") {
                    city += ',';
                }
                if (state.trim() != "") {
                    state += ',';
                }
                const osm_value = feature.properties.osm_value || '';
                const lat = feature.geometry.coordinates[1];
                const lon = feature.geometry.coordinates[0];
                
                //const fullAddress = $(`${name}, ${city}, ${country}`);

                //console.log(fullAddress);
                //if (featuresAdded.includes(fullAddress))
                //{
                //    return true;
               //}

                const suggestion = $(`<div class="suggestion"><i class="fas fa-location-dot" ></i> ${name}, ${city} ${state} ${country}</div>`);
                
                // On click, update the map and input field
                suggestion.on('click', function () {
                    //$('#place-input').val(`${name}, ${city} ${country}`);
                    $('#suggestions').empty(); // Clear suggestions

                    // Center the map and add a marker
                    if (searchMarker) map.removeLayer(searchMarker);
                    map.setView([lat, lon], 15);
                    searchMarker = L.marker([lat, lon]).addTo(map)
                    .bindPopup(`<b>${name}</b><br>${city} ${country}`)
                    .openPopup();
                    $('#place-input').val('');
                    offcanvas.show();                    
                });                

                let exists = false;
                featuresAdded.forEach(function (i) {
                    if (i === `${name}, ${city} ${country}`)
                    {
                        exists = true;
                    }
                });

                if (!exists)
                {
                    $('#suggestions').append(suggestion);
                    featuresAdded.push(`${name}, ${city} ${country}`);
                }

                });
            });
        });

        config_start_time = {
            altInput: true,
            enableTime: true,
            noCalendar: true,
            time_24hr: false,
            dateFormat: "H:i:S",
            defaultDate: "12:00"
        }
        config_end_time = {
            altInput: true,
            enableTime: true,
            noCalendar: true,
            time_24hr: false,
            dateFormat: "H:i:S",
            defaultDate: "13:00"
        }
        //initialize time inputs
        let st = flatpickr("#id_start_time", config_start_time);
        let et = flatpickr("#id_end_time", config_end_time); 

        let activity_array = [];

        $( function() {
            setTimeout(function () {
                window.dispatchEvent(new Event('resize'));
            }, 1000);
            $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
            });
            try {      
                let inputString = $("#id_activity_array").val();
                activity_array = JSON.parse(inputString);

                //initialize date pickers
                $( "#id_start_date" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true
                });
                $( "#id_end_date" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true
                });

                //make sure date is a real date and exists
                try {
                    //expand if passed
                    var expand_date = $("#id_expand_item").val();
                    $("#collapse_"+expand_date).collapse("show");  
                    var date = $("#collapse_"+expand_date).attr('name');

                    var parts = date.split('-');
                    var dateObj = new Date(parts[2], parts[0] - 1, parts[1]);
                    $('#id_start_date').datepicker("setDate", dateObj);
                    $('#id_end_date').datepicker("setDate", dateObj);
                }
                catch (error)
                {
                    $('#id_start_date').datepicker("setDate", "today");
                    $('#id_end_date').datepicker("setDate", "today");
                }

                //code for create activity
                $("#id_country").hide();
                $("#id_city").hide();
                $("label[for='id_country']").css("margin-top", "10px");
                $("label[for='id_city']").css("margin-top", "10px");
                $("label[for='id_itinerary_destination']").css("margin-top", "10px");
                $("label[for='id_country']").hide();                                                                                 
            }
            catch (error)
            {
                console.log(error)
            }
        } );
        $('#accordion').on('show.bs.collapse', function (e) {
            var date = e.target.getAttribute('name');
            SetDatePickers(date);
            SetExpandItem(date);
        });        
        function SetDatePickers(date){
            var parts = date.split('-');
            var dateObj = new Date(parts[2], parts[0] - 1, parts[1]); 
            $('#id_start_date').datepicker("setDate", dateObj);
            $('#id_end_date').datepicker("setDate", dateObj);
        }
        function SetExpandItem(date){
            $("#id_expand_item").val(date);
        }
        $('input[type="radio"]').change(function() {
            var selectedValue = $(this).val();
            //console.log(selectedValue);
            if (selectedValue == 'existing')
            {
                $("#id_country").hide();
                $("#id_city").hide();
                $("label[for='id_country']").hide();
                $("label[for='id_city']").hide();
                $("label[for='id_itinerary_destination']").show();
                $("#id_itinerary_destination").show();
                $("#id_itinerary_destination").prop('required',true);
                $("#id_country").prop('required',false);
                $("#id_city").prop('required',false);
            }
            else{
                $("#id_country").show();
                $("#id_city").show();
                $("label[for='id_country']").show();
                $("label[for='id_city']").show();
                $("label[for='id_itinerary_destination']").hide();
                $("#id_itinerary_destination").hide();
                $("#id_itinerary_destination").prop('required',false);
                $("#id_country").prop('required',true);
                $("#id_city").prop('required',true);
            }            
        });
        $("#id_existing_countries").change(function() {
            var selectedValue = $(this).val(); 
            $("#id_country").val(selectedValue).change();   
        });

        $("#btn_itinerary_edit").click(function() {
            $(this).attr("hidden", true);       
            $("#btn_itinerary_save").removeAttr('hidden');

            $("#id_name").prop("disabled", false);
            $("#id_name").focus();
        });

        $("#form_update_itinerary").submit(function(event) {
            event.preventDefault(); // Prevent default form submission

            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: $(this).serialize(),
            success: function(response) {
                //console.log(response.message);
                $("#btn_itinerary_save").attr("hidden", true);       
                $("#btn_itinerary_edit").removeAttr('hidden');
                $("#id_name").prop("disabled", true);
            },
            error: function(error) {
                console.error("Error submitting form:", error);
            }
            });
        });

        $("input").on("focus", function() {
            var input = $(this);
            if (input.attr("id") == "id_name")
            {
                //console.log(input.attr("id"));
                var len = input.val().length;

                // Set timeout to allow the focus to take effect first
                setTimeout(function() {
                input[0].setSelectionRange(len, len);
                }, 0);
            }
        });

        $(".btn-activity-update").click(function() {
            var itinerary_item_id = $(this).attr('name');
            $("#id_operation").val('update');

            var inputs = $(".activity-update-input-" + itinerary_item_id);
            //set values
            for(var i = 0; i < inputs.length; i++){
                var val = $(inputs[i]).val();
                var name = $(inputs[i]).attr('name');

                if (val === 'None')
                {
                    val = '';
                }
                
                switch(name) {
                case "id_start_date":
                case "id_end_date":
                    var date_parts = val.split('-');
                    var newDateObj = new Date(date_parts[0], date_parts[1] - 1, date_parts[2]); 
                    $('#'+name).datepicker("setDate", newDateObj);
                    break;
                case "id_start_time":
                    //console.log(val);
                    st.setDate(val)
                    break;
                case "id_end_time":        
                    et.setDate(val);
                    break;
                case "id_is_skip":                    
                case "id_is_booked":
                case "id_booking_required":
                case "id_pre_payment_required":
                case "id_is_paid":
                    var isTrueSet = (val.toLowerCase() === 'true');
                    $("#"+name).prop('checked', isTrueSet);
                    break;
                case "id_id":
                    //console.log(val);
                case "id_activity":
                    var selectedTypeId = $('#id_activity_type').find(":selected").val();
                    var select = $("#"+name);
                    select.empty();
                    $.each(activity_array, function(index, item) {                        
                        if (parseInt(item[0]) === parseInt(selectedTypeId)) {
                            select.append($("<option></option>")
                            .attr("value", item[1])
                            .text(item[2]));
                        }
                    });
                    select.val(val);
                    break;
                default:                   
                    $("#"+name).val(val);
                    break;
                }                
            }
        });
        $(".btn-activity-create").click(function() {
            $("#id_operation").val('create');
            //empty activities
            $("#id_activity").empty();
            //deselect all selects
            $('select').each(function() {
                $(this).val(''); // Set the value to an empty string
            });
            //clear all updatable inputs
            $(".updatable:visible").each(function() {
                $(this).val("");
            });
            //unckeck all checkboxes
            $('input[type=checkbox]').each( 
                function (index, checkbox) { 
                if (index != 0) { 
                    checkbox.checked = false; 
                } 
            }); 
            //reinitialize dates/times
            st.setDate('12:00');
            et.setDate('13:00');
            if ($(this).hasClass("activity-exising-date")){
                //console.log($(this).attr('name'));
                var date = $(this).attr('name')
                var parts = date.split('-');
                var dateObj = new Date(parts[2], parts[0] - 1, parts[1]);
                $('#id_start_date').datepicker("setDate", dateObj);
                $('#id_end_date').datepicker("setDate", dateObj);
            }
            else
            {                
                $('#id_start_date').datepicker("setDate", "today");
                $('#id_end_date').datepicker("setDate", "today");
            }
        });
        $("#id_activity_type").change(function() {
            var selectedTypeId = $(this).val();
            var select = $("#id_activity");
            select.empty();
            $.each(activity_array, function(index, item) {                        
                if (parseInt(item[0]) === parseInt(selectedTypeId)) {
                    select.append($("<option></option>")
                        .attr("value", item[1])
                        .text(item[2]));
                }
            });
        });
        $('#id_start_date').change(function() {
            var selectedDate = $(this).val();
            var parts = selectedDate.split('/');
            var dateObj = new Date(parts[2], parts[0] - 1, parts[1]);
            $('#id_end_date').datepicker("setDate", dateObj);
        });
        $(".open-map").click(function() {
            var street = "Zion Park Blvd.".replace(/\s/g, "+");
            var city = "Springdale".replace(/\s/g, "+");
            var state = "UT".replace(/\s/g, "+");
            var zip = "84767";
            var fullAddress = `${street},+${city},+${state}+${zip}`;
            window.open(`https://www.google.com/maps/dir/?api=1&destination=${fullAddress}`, "_blank");
        });
        $("#id_remove_marker").click(function() {
            map.removeLayer(searchMarker);

            //zoom-to-fit
            map.fitBounds(bounds);    

            //ajax delete from db if exists
            //close offcanvas
            offcanvas.hide();
        });
        $("#btn_map").click(function() {
            $("#map").toggle();
        });                              
    </script>
{% endblock %}

